/* debug */
[class*="col-"] {
  border: 1px solid black;
}

main, nav .container, header .container, footer .container {
  text-align: center;
}

nav .container .row {
  height: 80px;
  background-color: #2C3E50;
  color: white;
  line-height: 80px;
  text-transform: uppercase;
  font-weight: 600;
}
.nav_button {
  background-color: #1ABC9C;
}

header .container {
  background-color: #1ABC9C;
  color: white;
}

footer .container {
  background-color: #3A546D;
  color: white;
}
footer .row:first-child {
  height: 186px;
}
footer .row:last-child {
  height: 80px;
  background-color: #2C3E50;
}

#about {
  background-color: #1ABC9C;
  color: white;
}

img {
  height: 200px;
}
